---
import NextJS from "./icons/NextJS.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import ReactIcon from "./icons/React.astro";
import VueIcon from "./icons/Vue.astro";
import NodeIcon from "./icons/Node.astro";
import ExpressIcon from "./icons/Express.astro";
import LaravelIcon from "./icons/Laravel.astro";
import AstroFramwork from "./icons/AstroFramwork.astro";
import MySQL from "./icons/Mysql.astro";
import Firebase from "./icons/Firebase.astro";
---

<div>
  <h1 class="text-3xl font-bold mb-6 text-start">
    Lenguajes de
    <span class="text-violet-800 dark:text-violet-200">Programación</span>
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <!-- Frontend Section -->
    <div>
      <h2 class="text-2xl font-semibold mb-4 text-start">Frontend</h2>
      <ul class="grid grid-cols-2 sm:grid-cols-3 gap-6">
        <li class="bento-item col-span-1">
          <ReactIcon class="size-12 mx-auto" />
          <span class="mt-2 text-center">React</span>
        </li>
        <li class="bento-item col-span-2">
          <VueIcon class="size-12 mx-auto" />
          <span class="mt-2 text-center">Vue</span>
        </li>
        <li class="bento-item col-span-2">
          <NextJS class="size-12 mx-auto" />
          <span class="mt-2 text-center">Next.js</span>
        </li>
        <li class="bento-item col-span-1">
          <TailwindIcon class="size-12 mx-auto" />
          <span class="mt-2 text-center">Tailwind</span>
        </li>
        <li class="bento-item col-span-3">
          <AstroFramwork class="size-12 mx-auto stroke-black" />
          <span class="mt-2 text-center">Astro</span>
        </li>
      </ul>
    </div>
    <!-- Backend Section -->
    <div>
      <h2 class="text-2xl font-semibold mb-4 text-start">Backend</h2>
      <ul class="grid grid-cols-2 sm:grid-cols-3 gap-6">
        <li class="bento-item col-span-1">
          <NodeIcon class="size-12 mx-auto" />
          <span class="mt-2 text-center">Node.js</span>
        </li>
        <li class="bento-item col-span-2">
          <ExpressIcon class="size-12 mx-auto" />
          <span class="mt-2 text-center">Express</span>
        </li>
        <li class="bento-item col-span-2">
          <LaravelIcon class="size-12 mx-auto" />
          <span class="mt-2 text-center">Laravel</span>
        </li>
        <li class="bento-item col-span-1">
          <MySQL class="size-12 mx-auto" />
          <span class="mt-2 text-center">MySQL</span>
        </li>
        <li class="bento-item col-span-3">
          <Firebase class="size-12 mx-auto" />
          <span class="mt-2 text-center">Firebase</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .bento-item {
    @apply flex flex-col items-center p-6 border bg-white text-black hover:bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 hover:text-white border-black rounded-lg  shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl;
  }
</style>
