---
import NextJS from "./icons/NextJS.astro";
import TailwindIcon from "./icons/Tailwind.astro";

import ReactIcon from "./icons/React.astro";
import VueIcon from "./icons/Vue.astro";
import NodeIcon from "./icons/Node.astro";
import ExpressIcon from "./icons/Express.astro";
import LaravelIcon from "./icons/Laravel.astro";
import AstroFramwork from "./icons/AstroFramwork.astro";
import MySQL from "./icons/Mysql.astro";
import Firebase from "./icons/Firebase.astro";
---

<div>
  <h1 class="text-2xl font-bold mb-4">
    Lenguajes de
    <span class="text-violet-800 dark:text-violet-200">Programacion</span>
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="flex flex-col gap-4">
      <h2 class="text-xl font-semibold">Frontend</h2>
      <ul class="grid grid-cols-2 sm:grid-cols-3 gap-4">
        <li class="bento-item">
          <ReactIcon class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">React</span>
        </li>
        <li class="bento-item">
          <VueIcon class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">Vue</span>
        </li>
        <li class="bento-item">
          <NextJS class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">Next.js</span>
        </li>
        <li class="bento-item">
          <TailwindIcon class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">Tailwind CSS</span>
        </li>
        <li class="bento-item">
          <AstroFramwork class="w-12 h-12 mx-auto stroke-black" />
          <span class="mt-2 text-black text-center">Astro</span>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-xl font-semibold">Backend</h2>
      <ul class="grid grid-cols-2 sm:grid-cols-3 gap-4">
        <li class="bento-item">
          <NodeIcon class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">Node.js</span>
        </li>
        <li class="bento-item">
          <ExpressIcon class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">Express</span>
        </li>
        <li class="bento-item">
          <LaravelIcon class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">Laravel</span>
        </li>
        <li class="bento-item">
          <MySQL class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">MySQL</span>
        </li>
        <li class="bento-item">
          <Firebase class="w-12 h-12 mx-auto" />
          <span class="mt-2 text-black text-center">Firebase</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .bento-item {
    @apply flex flex-col items-center p-4 border border-gray-200 rounded-lg bg-white shadow-sm transition-transform transform hover:scale-105;
  }
</style>
