---
import NextJS from "./icons/NextJS.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import ReactIcon from "./icons/React.astro";
import VueIcon from "./icons/Vue.astro";
import NodeIcon from "./icons/Node.astro";
import ExpressIcon from "./icons/Express.astro";
import LaravelIcon from "./icons/Laravel.astro";
import AstroFramwork from "./icons/AstroFramwork.astro";
import MySQL from "./icons/Mysql.astro";
import Firebase from "./icons/Firebase.astro";
---

<div>
  <h1 class="text-3xl font-bold mb-6 text-start">
    Lenguajes de
    <span class="text-violet-800 dark:text-violet-200">Programación</span>
  </h1>
  <div class="flex flex-wrap gap-4">
    <!-- Frontend Section -->
    <h2 class="text-2xl font-semibold w-full">Frontend</h2>
    <span class="chip"><ReactIcon class="size-6" /> React</span>
    <span class="chip"><VueIcon class="size-6" /> Vue</span>
    <span class="chip"><NextJS class="size-6" /> Next.js</span>
    <span class="chip"><TailwindIcon class="size-6" /> Tailwind</span>
    <span class="chip"><AstroFramwork class="size-6 stroke-black" /> Astro</span
    >

    <!-- Backend Section -->
    <h2 class="text-2xl font-semibold w-full mt-6">Backend</h2>
    <span class="chip"><NodeIcon class="size-6" /> Node.js</span>
    <span class="chip"><ExpressIcon class="size-6" /> Express</span>
    <span class="chip"><LaravelIcon class="size-6" /> Laravel</span>
    <span class="chip"><MySQL class="size-6" /> MySQL</span>
    <span class="chip"><Firebase class="size-6" /> Firebase</span>
  </div>
</div>

<style>
  .chip {
    @apply flex items-center gap-2 px-4 py-2 border border-gray-300 bg-gray-100 text-gray-700 rounded-full text-sm shadow-sm hover:bg-gray-200 transition;
  }
</style>
