---
import ProjectsDinamic from "./Projects";

const PROJECTS = [
  {
    title: "Cuidados - Android/iOS",
    description:
      "Cuidados es una aplicacion que le permite al usuario agendar una cita con el medico que sea mas adecuado para sus necesidades.",
    image: "/1.webp",
    type: "Prometheus",
    icon: [
      {
        icon: "/Android.svg",
        name: "Android",
      },
      { icon: "/Swift.svg", name: "iOS" },
    ],
  },
  {
    title: "Cenyca Universidad - Laravel/Vue/Tailwind/MySQL",
    description:
      "Cenyca universidad cuenta con su propia plataforma dividida en tres partes, una para los alumnos, otra para los profesores y otra para el personal administrativo.",
    image: "/laravel.png",
    type: "FreeLancer",

    icon: [
      { icon: "/Mysql.svg", name: "MySQL" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
      { icon: "/Laravel.svg", name: "Laravel" },
      { icon: "/Vue.svg", name: "Vue" },
    ],
  },
  {
    title: "Reforma Dental - React/Tailwind",
    description:
      "Reforma dental es una landing page donde se puede encontrar informacion sobre los servicios que ofrece la clinica dental. Y asi mismo poder agendar tu cita con nuestro metodo de calendario y pasarela de pagos con stripe.",
    link: "https://www.reformadental.com/",
    image: "/reforma.png",
    type: "Ecommetrica",
    icon: [
      { icon: "/React.svg", name: "React" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
      { icon: "/Stripe.svg", name: "Stripe" },
    ],
  },
  {
    title: "Dr Arturo Lopez - React/Tailwind",
    description:
      "Dr Arturo Lopez es una landing page donde se puede encontrar toda informacion que realiza el Dr y poder realizar una cita con el.",
    link: "https://doctorarturolopez.com/",
    image: "/al.png",
    type: "Ecommetrica",

    icon: [
      { icon: "/React.svg", name: "React" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
    ],
  },
  {
    title: "Ecommetrica - NextJS/Tailwind/Express/NodeJS/MySQL",
    description:
      "Consultoría de comercio electrónico con un equipo de expertos digitales en marketing y desarrollo técnico, especialmente ensamblado para B2B y B2C.",
    link: "https://ecommetrica.com/",
    image: "/ecommetrica.png",
    type: "Ecommetrica",

    icon: [
      { icon: "/NextJS.svg", name: "Next.js" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
      { icon: "/Express.svg", name: "Express" },
      { icon: "/Node.svg", name: "Node.js" },
      { icon: "/Mysql.svg", name: "MySQL" },
    ],
  },
  {
    title: "Ricardo Monge",
    description:
      "Recibe la atención en ortopedia con el Dr. Ricardo Monge especializado en lesiones musculoesqueléticas en rodillas, cadera y columna en Tijuana.",
    link: "https://mongeortopedia.com/",
    image: "/monge.png",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro ",
        type: "Framework JS",
      },
      { icon: "/React.svg", name: "React" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
      { icon: "/Express.svg", name: "Express" },
      { icon: "/Node.svg", name: "Node.js" },
    ],
  },
  {
    title: "Transtime",
    description:
      "Atendemos todas tus necesidades logísticas. Ofrecemos un servicio de transporte internacional transparente y confiable, adaptado específicamente a tus requerimientos.",
    link: "https://transtime.site/",
    github: "https://github.com/Kevin180317/Transtime",
    image: "/transtime.png",
    type: "FreeLancer",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro ",
        type: "Framework JS",
      },
      { icon: "/Tailwind.svg", name: "Tailwind" },
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  <ProjectsDinamic client:visible PROJECTS={PROJECTS} />
</div>
