---
import ProjectsDinamic from "./Projects";

const PROJECTS = [
  {
    title: "Portafolio-Medico",
    description:
      "Portafolio-Medico es una aplicacion que le permite al usuario agendar una cita con el medico que sea mas adecuado para sus necesidades.",
    image: "/1.webp",
    type: "Prometheus",
    icon: [
      {
        icon: "/Android.svg",
        name: "Android",
      },
      { icon: "/Swift.svg", name: "iOS" },
    ],
  },
  {
    title: "Cenyca Universidad - Laravel/Vue/Tailwind/MySQL",
    description:
      "Cenyca universidad cuenta con su propia plataforma dividida en tres partes, una para los alumnos, otra para los profesores y otra para el personal administrativo.",
    image: "/laravel.png",
    type: "FreeLancer",

    icon: [
      { icon: "/Mysql.svg", name: "MySQL" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
      { icon: "/Laravel.svg", name: "Laravel" },
      { icon: "/Vue.svg", name: "Vue" },
    ],
  },
  {
    title: "Reforma Dental - React/Tailwind",
    description:
      "Reforma dental es una landing page donde se puede encontrar informacion sobre los servicios que ofrece la clinica dental. Y asi mismo poder agendar tu cita con nuestro metodo de calendario y pasarela de pagos con stripe.",
    link: "https://www.reformadental.com/",
    image: "/reformapage.webp",
    type: "Ecommetrica",
    icon: [
      { icon: "/React.svg", name: "React" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
      { icon: "/Stripe.svg", name: "Stripe" },
    ],
  },
  {
    title: "Dr Arturo Lopez - React/Tailwind",
    description:
      "Dr Arturo Lopez es una landing page donde se puede encontrar toda informacion que realiza el Dr y poder realizar una cita con el.",
    link: "https://doctorarturolopez.com/",
    image: "/arturopage.webp",
    type: "Ecommetrica",

    icon: [
      { icon: "/React.svg", name: "React" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
    ],
  },
  {
    title: "Ecommetrica - Astro - React - Tailwind - Motion",
    description:
      "Consultoría de comercio electrónico con un equipo de expertos digitales en marketing y desarrollo técnico, especialmente ensamblado para B2B y B2C.",
    link: "https://ecommetrica.com/",
    image: "/eommetrica.webp",
    type: "Ecommetrica",

    icon: [
      { icon: "/AstroFramwork.svg", name: "Astro" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
      { icon: "/React.svg", name: "React" },
    ],
  },
  {
    title: "E-commetrics - NextJS - Motion - Tailwind - Nodejs",
    description:
      "Pagina Oficial de PrometheusTij utilizando las tecnologias mas innovadoras del mercado facilitando las tareas que se ofrece e integrando una experiencia de Usuario impresionante.",
    link: "https://e-commetrics.com/",
    github: "",
    image: "/dashboard.png",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Ricardo Monge",
    description:
      "Recibe la atención en ortopedia con el Dr. Ricardo Monge especializado en lesiones musculoesqueléticas en rodillas, cadera y columna en Tijuana.",
    link: "https://mongeortopedia.com/",
    image: "/mongepage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro ",
        type: "Framework JS",
      },
      { icon: "/React.svg", name: "React" },
      { icon: "/Tailwind.svg", name: "Tailwind" },
    ],
  },
  {
    title: "Transtime",
    description:
      "Atendemos todas tus necesidades logísticas. Ofrecemos un servicio de transporte internacional transparente y confiable, adaptado específicamente a tus requerimientos.",
    link: "https://transtime.site/",
    github: "https://github.com/Kevin180317/Transtime",
    image: "/transtime.png",
    type: "FreeLancer",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro ",
        type: "Framework JS",
      },
      { icon: "/Tailwind.svg", name: "Tailwind" },
    ],
  },
  {
    title: "Jareddo Sushi",
    description:
      "Menu para la tienda de un Sushi con acceso a su pagina web para un uso mas rapido por medio de los celulares y consultarlos desde casa.",
    link: "https://jareddosushi.com/",
    github: "",
    image: "/jareddo.png",
    type: "FreeLancer",
    icon: [
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "PrometheusTij",
    description:
      "Pagina Oficial de PrometheusTij utilizando las tecnologias mas innovadoras del mercado facilitando las tareas que se ofrece e integrando una experiencia de Usuario impresionante.",
    link: "https://prometheustij.com/",
    github: "",
    image: "/PrometheusPage.png",
    type: "Prometheus",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Bites Creadores de Sonrisas",
    description:
      "Pagina enfocada al negocio de Bites CDS dirigido al temaa de dentistas con uso de Agendar citas, Metodos de Pago e integracion de sus blogs.",
    link: "https://bitescreadoresdesonrisas.com/",
    github: "",
    image: "/bitespage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/Node.svg",
        name: "Node js",
      },
      {
        icon: "/Express.svg",
        name: "Express",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Central Toreo",
    description:
      "Landing Page con lo que ofrece las torres disponibles de Central Toreo en Tijuana",
    link: "https://centraltoreo.com/",
    github: "",
    image: "/centraltoreopage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Cesia Borjon",
    description:
      "Pagina para Cesia Borjon una excelente Ginecologa con gran impacto en el area de Tijuana",
    link: "https://cesiaborjon.com/",
    github: "",
    image: "/cesiapage.png",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "The Condor Vision",
    description:
      "Pagina realizada para condor vision para mostrar la experiencia y los servicios que ofrecen con el uso de Drones en el sector de Baja California",
    link: "https://thecondorvision.com/",
    github: "",
    image: "/condorpage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "GPE Consultores",
    description:
      "Pagina para GPE Consultores, son contadores con una gran trayectoria en Tijuana que quieren llegar a mas publico con sus blogs y servicios en temas legales y de gran valor.",
    link: "https://gpeconsultores.com.mx/",
    github: "",
    image: "/gpepage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Doctor Martin",
    description:
      "Landing Page para el Dr Martin con gran impacto en Tijuana con especialidad en Otorrinologo.",
    link: "https://otorrinomartingonzalez.com/",
    github: "",
    image: "/martin.png",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Syl Industrial",
    description:
      "Landing Page enfocada a Syl Industrial con sus servicios que ofrecen en todo baja california enfocado mas en el municipio de Mexicali.",
    link: "https://sylindustrial.com/",
    github: "",
    image: "/sylindustrialpage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Syl Talento",
    description:
      "Pagina Oficial de Syl Talento enfocada a sus servicios de reclutamiento y su webapp integrada de postulantes estilo Linkedin. ",
    link: "https://syltalento.com/",
    github: "",
    image: "/sylpage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/NextJS.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Wislin Farm",
    description:
      "Landing Page de Wislin Farm enfocada a los servicios de Quesos y Chorizo que ofrece en todo el sector de Mexico",
    link: "https://wislinfarm.com/",
    github: "",
    image: "/wislinpage.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Akerlundh",
    description:
      "Pagina creada en Astro y usando React Components Akerlundh es una mobilaria de San diego que quiere llegar a mas personas con su pagina web innovadora.",
    link: "https://akerlundhinteriorismo.com/",
    github: "",
    image: "/akerlundh.png",
    type: "Prometheus",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Doctora Pamela Perez",
    description:
      "Pagina creada en Astro y usando React Components Pamela perez es especialista en otorrinolaringología y cirugía de cabeza y cuello.",
    link: "https://www.doctorapamelaperez.com/",
    github: "",
    image: "/pamela.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Seiza",
    description:
      "La pagina de seiza.shop creada en Next con Stripe y usando React Components es un e-commerce enfocado a la venta de un banquito moderno para la meditacion de la postura seiza",
    link: "https://seiza.shop/",
    github: "",
    image: "/seiza.webp",
    type: "Ecommetrica",
    icon: [
      {
        icon: "/NextJS.svg",
        name: "Next",
      },
      {
        icon: "/Stripe.svg",
        name: "Stripe",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
  {
    title: "Macoti",
    description:
      "Pagina creada en Astro y usando React Components Macoti es una empresa que otorga el servicio de maquinas como CNC de 3 y/o 5 giros, con su pagina web impulsa mas su marca con la informacion que proporciona cada servicio y proyecto que realiza.",
    link: "https://macoti.com.mx/",
    github: "",
    image: "/macoti.webp",
    type: "FreeLancer",
    icon: [
      {
        icon: "/AstroFramwork.svg",
        name: "Astro",
      },
      {
        icon: "/React.svg",
        name: "React",
      },
      {
        icon: "Tailwind.svg",
        name: "Tailwindcss",
      },
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  <ProjectsDinamic client:visible PROJECTS={PROJECTS} />
</div>
